<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <div class="flex-row container">

        <div class="logo">
          <a href="https://www.isprs.org/"><ion-img src="assets/imgs/sponsors/isprs_logo.png"></ion-img></a>
        </div>

        <div class="footer__central-text">
          The International Society for Photogrammetry and Remote Sensing is a non-governmental organization devoted to the development of international cooperation for the advancement of photogrammetry and remote sensing and their applications. The Society operates without any discrimination on grounds of race, religion, nationality, or political philosophy.
        </div>

        <div class="flex-col footer__right-text">
          <ul class="flex-5 flex-col footer__legal-links">
            <li class="flex-1"><a href="https://www.isprs.org/privacy_notice.aspx">Privacy Notice</a></li>
            <li class="flex-1">2021 © ISPRS. All Rights Reserved</li>
            <li class="flex-1">Contact: info.lightcam@fbk.eu</li>
          </ul>
        </div>

      </div>
    </ion-col>
  </ion-row>
</ion-grid>
